.App {
  text-align: center;
}

b{
  color: red;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url("https://images.alphacoders.com/865/865987.jpg");
background-size:cover ;
}


form{
  display: inline-block;
  /* border: 2px solid black; */
  border-radius: 1%;
  margin-left: 35%;
  margin-top: 5%;
  background-color: white;
}

form label{
  display: inline-block;
  width: 120px;
}
form div{
  margin: 15px;
}
button{
  font-size: 1.4rem;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 2%;
}
button:hover{
  background-color: white;
  color: black;
}
#info{
  color: white;
  margin-left: -52%;
  margin-top: -7%;
  
}


select ,#date{
  width: 57%;
}
a{
  text-decoration: none;
}
#signup ,#login{
  color: rgb(0, 157, 255);
  font-size: 1.5rem;
 }